<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/second" expand="full">Open Second</ion-button>
  <ion-button (click)="toggleVisible()" expand="full">Toggle Bar</ion-button>
  <ion-button (click)="changeStyle()" expand="full"
    >Change Style - ANDROID</ion-button
  >
  <ion-button (click)="toggleOverlays()" expand="full"
    >Toggle Overlays Webview - ANDROID</ion-button
  >
</ion-content>
